@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary-light: #6750A4;
    --color-on-primary-light: #FFFFFF;
    --color-primary-container-light: #EADDFF;
    --color-on-primary-container-light: #21005D;
    --color-secondary-light: #625B71;
    --color-on-secondary-light: #FFFFFF;
    --color-secondary-container-light: #E8DEF8;
    --color-on-secondary-container-light: #1D192B;
    --color-tertiary-light: #7D5260;
    --color-on-tertiary-light: #FFFFFF;
    --color-tertiary-container-light: #FFD8E4;
    --color-on-tertiary-container-light: #31111D;
    --color-error-light: #B3261E;
    --color-on-error-light: #FFFFFF;
    --color-error-container-light: #F9DEDC;
    --color-on-error-container-light: #410E0B;
    --color-outline-light: #79747E;
    --color-background-light: #FFFBFE;
    --color-on-background-light: #1C1B1F;
    --color-surface-light: #FFFBFE;
    --color-on-surface-light: #1C1B1F;
    --color-surface-variant-light: #E7E0EC;
    --color-on-surface-variant-light: #49454F;
    --color-inverse-surface-light: #313033;
    --color-inverse-on-surface-light: #F4EFF4;
    --color-primary-dark: #D0BCFF;
    --color-on-primary-dark: #381E72;
    --color-primary-container-dark: #4F378B;
    --color-on-primary-container-dark: #EADDFF;
    --color-secondary-dark: #CCC2DC;
    --color-on-secondary-dark: #332D41;
    --color-secondary-container-dark: #4A4458;
    --color-on-secondary-container-dark: #E8DEF8;
    --color-tertiary-dark: #EFB8C8;
    --color-on-tertiary-dark: #492532;
    --color-tertiary-container-dark: #633B48;
    --color-on-tertiary-container-dark: #FFD8E4;
    --color-error-dark: #F2B8B5;
    --color-on-error-dark: #601410;
    --color-error-container-dark: #8C1D18;
    --color-on-error-container-dark: #F2B8B5;
    --color-outline-dark: #938F99;
    --color-background-dark: #1C1B1F;
    --color-on-background-dark: #E6E1E5;
    --color-surface-dark: #1C1B1F;
    --color-on-surface-dark: #E6E1E5;
    --color-surface-variant-dark: #49454F;
    --color-on-surface-variant-dark: #CAC4D0;
    --color-inverse-surface-dark: #E6E1E5;
    --color-inverse-on-surface-dark: #313033;
  }
}
